/* ---- Default Styling ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

h1, h2, p {
    color: #335576;
}

h1 {
    font-size: 2rem;

}

a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    display: block;
}

p {
    font-size: 1.0rem;
}

/* ---- End ---- */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5% 0;
    background-color: #FFFFFF;
}

.nav-bar__link {
    flex: 1;
}

.nav-bar__link-title {
    margin-left: 5%;
}

.nav-bar__list {
    margin-right: 10%;
    display: flex;
    list-style-type: none;
}

.nav-bar__list-links {
    margin: 5%;
}

.nav-bar__list-links:hover {
    padding-bottom: 3%;
    border-bottom: .1875rem solid #DB7A4E;
}

.nav-bar__list-links--selected {
    padding-bottom: 3%;
    border-bottom: .1875rem solid #DB7A4E;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.card {
    width: 20%;
    min-width: 250px;
    aspect-ratio: 2/3;
    border-radius: .6rem;
    margin: 2%;    
    display: flex;
    justify-content: flex-end;
    align-items: end;
    border: .0625rem solid rgba(0, 0, 0, .2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #FEFAF5;
    flex-wrap: wrap;
    min-height: 20vh;
}

.footer-card {
    margin: 3% 2%;
} 

.footer-card__details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-card__details--contact {
    flex-direction: column;
}

.footer-card__details-box {
    margin: 0rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer-card__title {
    margin-bottom: 1.875rem;
}

.footer-card__details-img {
 height: 30px;
 margin-right: 2.1875rem;
 margin-top: 1.26rem;
}

.footer-card__details-title {
    font-size: .8rem;
    color: #DB7A4E;
}

.footer-card__details-item {
    margin-top: 1.25rem;
}
