* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

h1, h2, p {
    color: #335476;
}

h1 {
    font-size: 2rem;

}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.nav-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 15px 0;

}

p {
    font-size: 1.0rem;
}

.nav-bar__title {
    margin-left: 5%;
}

.nav-bar__list {
    margin-right: 5%;
}

.nav-bar__list {
    display: flex;
    list-style-type: none;
}

.nav-bar__list-links {
    margin: 20px;
}

.nav-bar__list-links--selected {
    padding-bottom: 5px;
    border-bottom: 3px solid #db7a4e;
}

.card-container {
    display: flex;
    justify-content: center;
    height: 500px;
}

.card {
    width: 16rem;
    height: 24rem;
    border-radius: .6rem;
    margin: 1.5rem;    
    display: flex;
    justify-content: flex-end;
    align-items: end;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 20%);
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFAF5;
    height: 300px;
}

.footer-card {
    margin: 0px 30px;
}

.footer-card__details {
    display: flex;
    justify-content: space-between;

}

.footer-card__details--contact {
    flex-direction: column;

}

.footer-card__details-box {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer-card__title {
    margin-bottom: 30px;
}

.footer-card__details-img {
 height: 25px;
 margin-right: 20px;
}

.orange-text {
    font-size: .7rem;
    color: #db7a4e;
}

.bottom {
    margin-top: 20px;
}