.hero-container {
    display: flex;
    justify-content: space-between;
    background-color: #FEFAF5;
    min-height: 50vh;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: 5%;
    min-width: 50%;
    min-height: 100%;
}

.hero-left__title {
    font-size: 2.5rem;
}

.hero-left__description {
    margin: 5% 0;
    line-height: 1.5rem;
}

.btn {
    background-color: #DB7A4E;
    padding: .625rem;
    color: #fff;
    width: 11.875rem;
    border: none;
    border-radius: 2.5rem;
    font-size: 1.1rem;
}

.hero-right {
    display: flex;
    align-items: center;
    max-height: 100%;
}

.hero-right__img {
    height: 60%;
}

.main__title {
    margin: 2% 0 2% 5%;
}

.card__title {
    color: #fff;
    margin-right: 3.1%;
    margin-bottom: 3.1%;
}

.card--hawaii {
    background-image: url(../assests/images/hawaii.jpg);
    background-size: cover;
    background-position: center;
}

.card--iceland {
    background-image: url(../assests/images/iceland.jpg);
    background-size: cover;
    background-position: center;
}

.card--greece {
    background-image: url(../assests/images/greece.jpg);
    background-size: cover;
    background-position: center;
}

